*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
/* Wrapper*/
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%    ;
}

/* Main Menu */

.header{
    height: 130px;
    background: linear-gradient(to top right, powderblue, pink)
}

.main_menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.main_menu a{
    text-decoration: none;
    color: darkslategray;
    font-weight: 400;
}

.main_menu li{
    list-style: none;
    margin-right: 10px ;
    width: 120px;
    margin-top: 7%;
    box-shadow: 10px 10px 10px darkgrey;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    border-radius: 120px;
    text-align: center;
}

.main_menu li:hover{
    transition-duration: 1s;
    box-shadow: 5px 10px 50px gray;

}

.main_menu p{
    font-size: 20px;
}


/* Content */
.content{
    width: 60%;
    margin: 100px auto 0;
    flex: 1 0 auto;
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background-color: #CCD4F3;
    height: 100px;
    width: 100%;
    flex: 0 0 auto;

}
